body {
    height: auto !important;
}

.details {
    width: 500px;
    background-color: white;
    margin: 0 auto 32px;
    padding: 1em 1em 1em 3em;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    &__content{
        margin-bottom: 24px;
    }

    &__text {
        color: #575555;
        font-weight: bold;

        &--big {
            font-size: 42px;
            margin-bottom: 16px;
        }

        &--small {
            font-size: 16px;
        }

        &--medium {
            font-size: 24px;
        }
        &--light {
            font-weight: 300;
        }
        &--orange{
            color: orange;
            font-weight: bold;
            font-size: 14px;
        }
    }

    &__btn {
        border: none;
        background: transparent;
        transition: all .3s;

        svg {
            font-size: 30px;
            color: orange;
            transition: all .3s;
        }

        &:hover {
            svg { 
                color: black; 
            }
        }
    }

    &__info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        &__item{
            display: flex;  
            gap: 10px;
        }
    }
    &__item{ 
        &__wrapper{
            display: flex;
            gap: 5px;
            svg{
                color: orange;
                font-weight: bold;
            }
        }
    }
     
}