*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  -webkit-font-smoothing: antialiased; 
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100dvh;
   height: 100vh;
   background: rgb(218, 199, 19) no-repeat;
   background: linear-gradient(0deg, rgba(218, 199, 19, 1) 0%, rgba(240, 134, 41, 0.9808298319327731) 100%) no-repeat;
}

body,input,button,textarea{
  font-family: "Inter", serif;
  font-size: 16px;
  outline: none;
}

a{
  text-decoration: none;
}

button, a {
  cursor: pointer;
  transition: filter .2s;
}

button:hover, a:hover {
  filter: brightness(.9);
}